{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }} - StockApp</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
    Ошибка смены пароля! Пожалуйста, проверьте верно ли вы заполнили форму.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="shadow p-4 mb-5 mt-5 bg-body rounded">
    <h1>Смена пароля</h1><br>
    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-outline mb-4">
            <input type="checkbox" id="passwordInputCheckbox">
            <label class="form-label" for="passwordInputCheckbox">Показать пароль</label>
        </div>

        <button class="btn btn-secondary">Сменить пароль</button>
    </form>
</div>

{% endblock %}

{% block import %}
<script src="{% static 'scripts/show_password.js' %}"></script>
{% endblock %}