{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ struser }} - StockApp</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: gray; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <div class="profile_box">
                    {% if profile.photo != 'default_user.png'%}  
                      <img src="{{profile.photo.url}}" alt="defaultUser">
                    {% else %}
                      <img src="{% static 'images/default_user.png' %}" alt="defaultUser">
                    {% endif %}
                </div>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                <p>@{{ profile.user.username }}</p>
              </div>
            </div>
            <div class="p-4 text-black d-flex justify-content-space-between" style="background-color: #f8f9fa;">
                <div class="d-flex text-center py-1" style="position: absolute; right: 1.5rem;">
                    <div>
                      <p class="mb-1 h5">{{profile.manufactures.all.count}}</p>
                      <p class="small text-muted mb-0">Предприятий</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5">3</p>
                      <p class="small text-muted mb-0">Магазинов</p>
                    </div>
                    <div>
                      <p class="mb-1 h5">478</p>
                      <p class="small text-muted mb-0">Подписчиков</p>
                    </div>
                </div>
                {% if profile.user.username == request.user.get_username %}
                <div class="py-1">
                    <a type="button" href="{% url 'edit_user' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                        Редактировать профиль
                    </a>
                </div>
                {% endif %}
                <div style="padding: 20px;">
                     
                </div>
            </div>

            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">О себе:</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">{{ profile.bio }}</p>
                </div>
              </div>




              <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="lead fw-normal mb-0">Предприятия</p>
                {% if profile.user.username == request.user.get_username %}
                <p class="mb-0">
                  <a href="#!" class="btn btn-outline-primary btn-rounded btn-sm fw-bold"><i class="fas fa-file me-2"></i>Создать</a>
                  <a href="#!" class="btn btn-primary btn-rounded btn-sm fw-bold"><i class="fas fa-link me-2"></i>Добавить</a>
                </p>
                {% endif %}
              </div>
              <table class="table align-middle mb-0 bg-white">
                <tbody>
                  {% if profile.manufactures.all %}
                    {% for item in profile.manufactures.all %}
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          {% if item.photo %}
                          <img src="{{ item.photo.url }}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                          {% else %}
                          <img src="{% static 'images/manufacture.png' %}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                          {% endif %}
                          <div class="ms-3">
                            <p class="fw-bold mb-1">{{item.name}}</p>
                            <p class="text-muted mb-0">{{item.bio|truncatewords:8}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        {% if profile.user.username == request.user.get_username %}
                        <button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                          <i class="fas fa-pen"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                          <i class="fas fa-trash"></i>
                        </button>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                  <tr>
                    <td>
                      <p class="text-muted mb-0">Нет ни одного предприятия</p>
                    </td>
                  </tr>
                  {% endif %}

                </tbody>
              </table>

              



              <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
                <p class="lead fw-normal mb-0">Магазины</p>
                <p class="mb-0">
                  <a href="#!" class="btn btn-outline-primary btn-rounded btn-sm fw-bold"><i class="fas fa-file me-2"></i>Создать</a>
                  <a href="#!" class="btn btn-primary btn-rounded btn-sm fw-bold"><i class="fas fa-plus me-2"></i>Добавить</a> 
                </p>
              </div>
              <table class="table align-middle mb-0 bg-white">
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="{% static 'images/shop.png' %}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                        <div class="ms-3">
                          <p class="fw-bold mb-1">John Doe</p>
                          <p class="text-muted mb-0">john.doe@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="{% static 'images/shop.png' %}" class="rounded-circle" alt="" style="width: 45px; height: 45px"/>
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Alex Ray</p>
                          <p class="text-muted mb-0">alex.ray@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="{% static 'images/shop.png' %}" class="rounded-circle" alt="" style="width: 45px; height: 45px"/>
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Kate Hunington</p>
                          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent photos</p>
                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
              </div>
              <div class="row g-2">
                <div class="col mb-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                    alt="image 1" class="w-100 rounded-3">
                </div>
                <div class="col mb-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                    alt="image 1" class="w-100 rounded-3">
                </div>
              </div>
              <div class="row g-2">
                <div class="col">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                    alt="image 1" class="w-100 rounded-3">
                </div>
                <div class="col">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                    alt="image 1" class="w-100 rounded-3">
                </div>
              </div> -->

              {% if profile.user.username == request.user.get_username %}
              <button type="button" class="btn btn-danger mb-2 mt-5" data-mdb-toggle="modal" data-mdb-target="#exampleCentralModal1">
                Удалить профиль
              </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% if profile.user.username == request.user.get_username %}
<div class="modal fade" id="exampleCentralModal1" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" data-gtm-vis-first-on-screen-2340190_1302="16835" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
      </div>
      <div class="modal-body">
        <p>
          Все данные аккаунта будут удалены без возможности восстановления!
        </p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <a href="{% url 'delete_profile' %}" class="btn btn-danger">Да</a>
        <button type="button" class="btn btn-outline-danger" data-mdb-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block import %}
    
{% endblock %}