{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }} - StockApp</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
    Ошибка восстановления пароля! Пожалуйста, проверьте верно ли вы заполнили форму.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="shadow p-4 mb-5 mt-5 bg-body rounded">
    <h1>Восстановление пароля</h1><br>
    <p>Введите свой адрес электронной почты в поле ниже, и мы отправим вам письмо с инструкциями по восстановлению пароля</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Отправить письмо</button>
    </form>
</div>

{% endblock %}

{% block import %}
    
{% endblock %}