html, body{
    height: 100%;
}

.toast{
    margin: 40px 0 10px 0;
    width: 100%;
}

.userNameLi{
    position: relative;
    padding: 10px 0;
}

.userNameB{
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}