.mainContainer{
    position: relative;
}

.mainBackground{
    width: 100%;
    filter: brightness(50%);
}

.mainBody{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mainBodyIcon{
    position: absolute;
    width: 30%;
    top: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -100%);
}

.mainContainer .mainBody a{
    position: absolute;
    width: 50%;
    height: 40%;
    font-size: 100%;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 100%);
}