{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }} - StockApp</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: black; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <div class="profile_box">
                    {% if manufacture.photo %} 
                      <a href="" data-mdb-toggle="modal" data-mdb-ripple-color="dark" style="z-index: 1;" data-mdb-target="#ExpandPhotoModal"><img src="{{ manufacture.photo.url }}" alt="defaultUser"></a>
                    {% else %}
                      <img src="{% static 'images/manufacture.png' %}" alt="defaultUser">
                    {% endif %}
                </div>
              </div>
              <div class="ms-3" style="margin-top: 110px;">
                <h2>{{ manufacture.name }}</h2>
                <p>Предприятие</p>
              </div>
            </div>
            <div class="p-4 text-black d-flex justify-content-space-between" style="background-color: #f8f9fa;">
                <div class="d-flex text-center py-1" style="position: absolute; right: 1.5rem;">
                    <div>
                      <p class="mb-1 h5">{{members.count}}</p>
                      <p class="small text-muted mb-0">Участников</p>
                    </div>
                    <div class="ps-3">
                      <p class="mb-1 h5">{{catalog_items.all.count}}</p>
                      <p class="small text-muted mb-0">Товаров</p>
                    </div>
                </div>
                {% if is_mine %}
                <div class="py-1">
                  <a type="button" href="{% url 'edit_manufacture' name=manufacture.name %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                    Редактировать предприятие
                  </a>
                  <a type="button" href="" class="btn btn-dark" data-mdb-ripple-color="dark" style="z-index: 1;" data-mdb-toggle="modal" data-mdb-target="#ManufactureCode">
                    Код предприятия
                  </a>
                  <a type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-ripple-color="dark" style="z-index: 1;" data-mdb-target="#exampleCentralModal1">
                    Удалить предприятие
                  </a>
                </div>
                {% endif %}
                <div style="padding: 20px;">
                     
                </div>
            </div>

            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">О предприятии:</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">{{ manufacture.bio }}</p>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
                <p class="lead fw-normal mb-0">Каталог производимых товаров</p>
                {% if is_mine %}
                <p class="mb-0">
                  <a href="{% url 'create_item' name=manufacture.name%}" class="btn btn-secondary btn-rounded btn-sm fw-bold"><i class="fas fa-file me-2"></i>Создать товар</a>
                </p>
                {% endif %}
              </div>
              <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th>Произведен/Годен до</th>
                    <th>Действия</th>
                  </tr>
                </thead>
                <tbody>
                  {% if catalog_items.all %}
                  {% for item in catalog_items.all %}
                  <tr>
                    <td>
                      <a href="{% url 'view_item' id=item.id %}" class="d-flex align-items-center">
                        {% if item.photo %}
                          <img src="{{ item.photo.url }}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                        {% else %}
                          <img src="{% static 'images/default_product.png' %}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                        {% endif %}
                        <div class="ms-3">
                          <p class="fw-bold mb-1">{{item.name}}</p>
                          <p class="text-muted mb-0">{{item.code}}</p>
                        </div>
                      </a>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{item.price}} BYN</p>
                    </td>
                    <td>
                      <p class="badge badge-success rounded-pill">{{item.date_of_manufacture}}</p><br>
                      <p class="badge badge-warning rounded-pill">{{item.expiration_date}}</p>
                    </td>
                    <td>
                      <div class="d-flex justify-content-end">
                        {% if profile.shops.all %}
                        <a href="{% url 'order' item=item.name %}" class="btn btn-success btn-rounded btn-sm fw-bold me-2" title="На склад">
                          <i class="fas fa-handshake pe-none me-2"></i>
                          На склад
                        </a>
                        {% endif %}
                        <a href="{% url 'view_item' id=item.id %}" class="btn btn-secondary btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark" title="Открыть">
                          <i class="fas fa-external-link-alt"></i>
                        </a>
                        {% if is_mine %}
                        <a href="{% url 'edit_item' id=item.id %}" class="btn btn-primary btn-rounded btn-sm fw-bold mx-2" data-mdb-ripple-color="dark" title="Редактировать">
                          <i class="fas fa-pen"></i>
                        </a>
                        <a href="{% url 'delete_item' id=item.id %}" class="btn btn-danger btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark" title="Удалить">
                          <i class="fas fa-trash"></i>
                        </a>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td>
                      <p class="text-muted mb-0">Предприятие не выпустило ни одного товара</p>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>

              <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
                <p class="lead fw-normal mb-0">Администраторы</p>
              </div>
              <table class="table align-middle mb-0 bg-white">
                <tbody>
                  {% if members.all %}
                    {% for item in members %}
                    <tr class="w-100">
                      <td>
                        <a href="{% url 'user' user=item.user.username %}" class="d-flex align-items-center">
                          {% if item.photo %}
                          <img src="{{ item.photo.url }}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                          {% else %}
                          <img src="{% static 'images/default_user.png' %}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                          {% endif %}
                          <div class="ms-3">
                            <p class="fw-bold mb-1">
                              {{item.user.first_name}} {{item.user.last_name}}
                              {% if item.user.is_superuser %}<i class="fas fa-check-circle ms-1"></i>{% endif %}
                            </p>
                            <p class="text-muted mb-0">@{{item.user.username}}</p>
                          </div>
                        </a>
                      </td>
                      <td>
                        {% if profile.user.username == request.user.get_username %}
                        <div class="d-flex justify-content-end">
                          <a href="{% url 'user' user=item.user.username %}" class="btn btn-secondary btn-rounded btn-sm fw-bold me-2" data-mdb-ripple-color="dark" title="Открыть">
                            <i class="fas fa-external-link-alt"></i>
                          </a>
                          {% if request.user == item.user %}
                          <a href="{% url 'leave_manufacture' name=manufacture.name %}" class="btn btn-warning btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark" title="Выйти">
                            <i class="fas fa-sign-out-alt"></i>
                          </a>
                          {% endif %}
                        </div>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  {% else %}
                  <tr>
                    <td>
                      <p class="text-muted mb-0">Нет ни одного участника</p>
                    </td>
                  </tr>
                  {% endif %}

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% if manufacture.photo %}
<div class="modal fade" id="ExpandPhotoModal" tabindex="-1" aria-labelledby="ExpandPhotoLabel" style="display: none;" data-gtm-vis-first-on-screen-2340190_1302="11733" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ExpandPhotoLabel">Фото предприятия {{ manufacture.name }}</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <img src="{{manufacture.photo.url}}" alt="{{manufacture.name}}" width="100%">
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if is_mine %}
<div class="modal fade" id="exampleCentralModal1" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" data-gtm-vis-first-on-screen-2340190_1302="16835" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
      </div>
      <div class="modal-body">
        <p>
          Все данные предприятия будут удалены без возможности восстановления!
        </p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <a href="{% url 'delete_manufacture' name=manufacture.name %}" class="btn btn-danger">Да</a>
        <button type="button" class="btn btn-outline-danger" data-mdb-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ManufactureCode" tabindex="-1" aria-labelledby="ManufactureCodeLabel" style="display: none;" data-gtm-vis-first-on-screen-2340190_1302="3851" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="modal-title" id="ManufactureCodeLabel">Код предприятия</h5>
      </div>
      <div class="modal-body">
        <input type="text" maxlength="16" class="form-control form-control-lg" value="{{manufacture.code}}" readonly>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-outline-dark" data-mdb-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block import %}

{% endblock %}